<!DOCTYPE html>
<html lang="en">
<head>
  <title>Register From</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Employe Register From</h2>
  <form action="" method="POST">
    <div class="form-group">
      <label for="First_Name">First_Name:</label>
      <input type="text" class="form-control" id="First_Name" placeholder="Enter First_Name" name="firstname">
    </div>
    <div class="form-group">
      <label for="pwd">Last_Name:</label>
      <input type="text" class="form-control" id="pwd" placeholder="Enter Last_Name" name="lastname">
    </div>
    <div class="form-group">
      <label for="pwd">Email:</label>
      <input type="text" class="form-control" id="pwd" placeholder="Enter Email" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Mo_No:</label>
      <input type="tel" class="form-control" id="pwd" placeholder="+91xxxxxxxxxx" name="mo_no">
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

</body>
</html>
